@import "tailwindcss";

@theme {
  --color-gold: #B59462; 
}

@layer base {
  html, body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .bg-dark-primary {
    background-color: #181818;
  }

  .bg-navbar {
    background-color: #1F1E1E;
  }

  .font-playfair {
    font-family: "Playfair Display", serif;
  }

  .animate-pulse {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    -webkit-animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
}
